<!-- 
  var instructionText = "Fixe o olhar no centro da tela. Você verá um grupo de setas."+
    "\nPreste atenção na seta do centro e ignore as outras. \n\n" +
    "Usando a sua mão direita, pressione &larr; "+
    "(esquerda) sempre que a seta central apontar para a ESQUERDA e \n"+
    "&rarr; (direita) quando apontar para a DIREITA.\n\n"+
    "Responda o mais rápido e corretamente possível.\n\n" +
    "Pressione &larr; ou &rarr; para iniciar.";
-->

<div id="container-instructions">
    <div class="instructions well">
        <!-- <p>Fixe o olhar no centro da tela. Você verá um grupo de setas.</p>
        <p>Preste atenção na seta do centro e ignore as outras.</p>
        <br>
        <p>Usando a sua mão direita, pressione &larr;</p>
        <p>(esquerda) sempre que a seta central apontar para a ESQUERDA e</p>
        <p>&rarr; (direita) quando apontar para a DIREITA.</p>
        <br>
        <p>Responda o mais rápido e corretamente possível.</p>
        <br>
        <p>Pressione &larr; ou &rarr; para iniciar.</p> -->
    </div>
    <div class="instructionsnav">
        <div class="row">
            <!-- <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <p>testando auehuaewhua</p>
            </div> -->
            <div class="col-xs-12">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Começar <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>