<div id="demographic" class="container form-container">
    <h2>Demographic Questionnaire</h2>

    <form action="/" method="POST">
        <div class="form-group">
            <span><strong>Sex:</strong>(please tick one)</span>
            <div class="checkbox">
                <label for="dem-sex-male">
                    <input required type="radio" name="dem-sex" value="Male" id="dem-sex-male"> Male
                </label>
            </div>
            <div class="checkbox">
                <label for="dem-sex-female">
                    <input required type="radio" name="dem-sex" value="Female" id="dem-sex-female"> Female
                </label>
            </div>
            <div class="checkbox">
                <label for="dem-sex-other">
                    <input required type="radio" name="dem-sex" value="Other" id="dem-sex-other"> Other
                </label>
            </div>
            <p>If you selected "Other", please specify</p>
            <input type="text" name="dem-sex-other" placeholder="Other">
        </div>
        <div class="form-group">
            <label for="dem-age">Age</label>
            <input required type="number" name="dem-age" placeholder="Age">
        </div>
        <div class="form-group">
            <label for="dem-dob">Date of Birth</label>
            <input required type="text" name="dem-dob" placeholder="Date of Birth">
        </div>
        <div class="form-group">
            <p><strong>Marital Status:</strong> (please tick one)</p>
            <div class="checkbox">
                <label for="dem-marital-single">
                    <input required type="radio" name="dem-marital" value="Single" id="dem-marital-single"> Single
                </label>
            </div>
            <div class="checkbox">
                <label for="dem-marital-married">
                    <input required type="radio" name="dem-marital" value="Married or cohabiting" id="dem-marital-married"> Married or cohabiting
                </label>
            </div>
            <div class="checkbox">
                <label for="dem-marital-separated">
                    <input required type="radio" name="dem-marital" value="Separated / Divorced" id="dem-marital-separated"> Separated / Divorced
                </label>
            </div>
            <div class="checkbox">
                <label for="dem-marital-widowed">
                    <input required type="radio" name="dem-marital" value="Widowed" id="dem-marital-widowed"> Widowed
                </label>
            </div>
        </div>

        <div class="form-group">
            <p>
                <strong>If single, separated, divorced or widowed, 
                    are you currently in a long term relationship?</strong>
                (please tick one)
            </p>
            <div class="checkbox">
                <label for="dem-relationship-yes"><input required type="radio" name="dem-relationship" id="dem-relationship-yes" value="Yes"> Yes</label>
            </div>
            <div class="checkbox">
                <label for="dem-relationship-no"><input required type="radio" name="dem-relationship" id="dem-relationship-no" value="No"> No</label>
            </div>
        </div>

        <div class="form-group">
            <p><strong>Current Employment:</strong> (please tick one)</p>
            <div class="checkbox">
                <label for="dem-employed-unemployed"><input required type="radio" name="dem-employed" id="dem-employed-unemployed" value="Unemployed"> Unemployed</label>
            </div>
            <div class="checkbox">
                <label for="dem-employed-employed"><input required type="radio" name="dem-employed" id="dem-employed-employed" value="Employed or Self-employed"> Employed or Self-employed</label>
            </div>
            <div class="checkbox">
                <label for="dem-employed-student"><input required type="radio" name="dem-employed" id="dem-employed-student" value="Student (Full-time)"> Student (Full-time)</label>
            </div>
            <div class="checkbox">
                <label for="dem-employed-leave"><input required type="radio" name="dem-employed" id="dem-employed-leave" value="Long-term sick leave"> Long-term sick leave</label>
            </div>
            <div class="checkbox">
                <label for="dem-employed-retired"><input required type="radio" name="dem-employed" id="dem-employed-retired" value="Retired"> Retired</label>
            </div>
            <div class="checkbox">
                <label for="dem-employed-homemaker"><input required type="radio" name="dem-employed" id="dem-employed-homemaker" value="Homemaker"> Homemaker</label>
            </div>
        </div>

        <div class="form-group">
            <p>
                <strong>Occupation:</strong>
                What is your current or last (if not currently working) occupation?
            </p>
            <input required type="text" name="dem-occupation" placeholder="Occupation">
        </div>

        <div class="form-group">
            <p>
                <strong>Education:</strong>
                What is the highest qualification you have obtained (please tick one)?
            </p>
            <div class="checkbox">
                <label for="dem-education-1"><input required type="radio" name="dem-education" id="dem-education-1" value="1"> Less than a high school diploma</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-2"><input required type="radio" name="dem-education" id="dem-education-2" value="2"> High school degree or equivalent (e.g. GED)</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-3"><input required type="radio" name="dem-education" id="dem-education-3" value="3"> Some college, no degree</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-4"><input required type="radio" name="dem-education" id="dem-education-4" value="4"> Associate degree (e.g. AA, AS)</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-5"><input required type="radio" name="dem-education" id="dem-education-5" value="5"> Bachelor’s degree (e.g. BA, BS)</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-6"><input required type="radio" name="dem-education" id="dem-education-6" value="6"> Master’s degree (e.g. MA, MS, MEd)</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-7"><input required type="radio" name="dem-education" id="dem-education-7" value="7"> Professional degree (e.g. MD, DDS, DVM)</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-8"><input required type="radio" name="dem-education" id="dem-education-8" value="8"> Doctorate (e.g. PhD, EdD)</label>
            </div>
        </div>

        <div class="form-group">
            <p>
                <strong>Ethnic origin:</strong>
                (please tick one)
            </p>
            <div class="checkbox">
                <label for="dem-ethnic-1"><input required type="radio" name="dem-ethnic" id="dem-ethnic-1" value="White"> White</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-2"><input required type="radio" name="dem-ethnic" id="dem-ethnic-2" value="Hispanic-Latino"> Hispanic or Latino</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-3"><input required type="radio" name="dem-ethnic" id="dem-ethnic-3" value="Black"> Black or African American</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-4"><input required type="radio" name="dem-ethnic" id="dem-ethnic-4" value="Native"> Native American or American Indian</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-5"><input required type="radio" name="dem-ethnic" id="dem-ethnic-5" value="Asian"> Asian / Pacific Islander</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-7"><input required type="radio" name="dem-ethnic" id="dem-ethnic-7" value="Any other ethnic group (please specify)"> Any other ethnic group (please specify)</label>
            </div>
            <input type="text" placeholder="Other ethnic group" name="dem-ethnic-other">
        </div>

        <div class="form-group">
            <p>What is your dominant hand?</p>
            <div class="checkbox"><label for="dem-hand-1"><input required type="radio" name="dem-hand" id="dem-hand-1" value="Left"> Left</label></div>
            <div class="checkbox"><label for="dem-hand-2"><input required type="radio" name="dem-hand" id="dem-hand-2" value="Right"> Right</label></div>
        </div>

        <div class="form-group">
            <p>Do you have any eye or vision problem?</p>
            <div class="checkbox"><label for="dem-vision-problem-1"><input required type="radio" name="dem-vision-problem" id="dem-vision-problem-1" value="Yes"> Yes</label></div>
            <div class="checkbox"><label for="dem-vision-problem-2"><input required type="radio" name="dem-vision-problem" id="dem-vision-problem-2" value="No"> No</label></div>
            <p>If yes, which vision problem?</p>
            <input type="text" name="dem-vision-problem-specify" placeholder="Vision Problem">
        </div>

        <div class="form-group">
            <p>If you have a vision problem, are you using your glasses or contact lenses right now?</p>
            <div class="checkbox"><label for="dem-glasses-1"><input type="radio" name="dem-glasses" id="dem-glasses-1" value="Yes"> Yes</label></div>
            <div class="checkbox"><label for="dem-glasses-2"><input type="radio" name="dem-glasses" id="dem-glasses-2" value="No"> No</label></div>
        </div>

        <div class="form-group">
            <p>Do you have any diagnosed psychiatric/neurological conditions?</p>
            <div class="checkbox"><label for="dem-neuro-1"><input required type="radio" name="dem-neuro" id="dem-neuro-1" value="Yes"> Yes</label></div>
            <div class="checkbox"><label for="dem-neuro-2"><input required type="radio" name="dem-neuro" id="dem-neuro-2" value="No"> No</label></div>
            <p>If yes, what is the diagnosis?</p>
            <input type="text" name="dem-neuro-specify" placeholder="Diagnosis">
        </div>

        <div class="form-group">
            <p>Are you being prescribed medication?</p>
            <div class="checkbox"><label for="dem-medication-1"><input required type="radio" name="dem-medication" id="dem-medication-1" value="Yes"> Yes</label></div>
            <div class="checkbox"><label for="dem-medication-2"><input required type="radio" name="dem-medication" id="dem-medication-2" value="No"> No</label></div>
            <p>If yes, which medication?</p>
            <input type="text" name="dem-medication-specify" placeholder="Which medication">
        </div>

        <div class="form-group">
            <p>Are you currently taking the prescribed medication? (If being prescribed)</p>
            <div class="checkbox"><label for="dem-taking-medication-1"><input type="radio" name="dem-taking-medication" id="dem-taking-medication-1" value="Yes"> Yes</label></div>
            <div class="checkbox"><label for="dem-taking-medication-2"><input type="radio" name="dem-taking-medication" id="dem-taking-medication-2" value="No"> No</label></div>
        </div>

        <div class="form-group">
            <p><strong>Please specify below what your first spoken language is</strong></p>
            <input required type="text" placeholder="first spoken language" name="dem-lang">
        </div>

        <div class="form-group">
            <p><strong>What is your total household income (per year)?</strong></p>
            <input required type="text" placeholder="total household income">
        </div>
        <button class="btn btn-primary">CONTINUE</button>
    </form>
</div>