<div id="demographic-container">
    <h2>Demographic Questionnaire</h2>

    <form action="/" method="POST">
        <div class="form-group">
            <span><strong>Sex:</strong>(please tick one)</span>
            <label for="dem-sex-male" class="checkbox-inline">
                <input required type="radio" name="dem-sex" value="Male" id="dem-sex-male"> Male
            </label>
            <label for="dem-sex-female" class="checkbox-inline">
                <input required type="radio" name="dem-sex" value="Female" id="dem-sex-female"> Female
            </label>
        </div>
        <div class="form-group">
            <label for="dem-age">Age</label>
            <input required type="number" name="dem-age" placeholder="Age">
        </div>
        <div class="form-group">
            <label for="dem-dob">D.O.B</label>
            <input required type="text" name="dem-dob" placeholder="D.O.B">
        </div>
        <div class="form-group">
            <p><strong>Marital Status:</strong> (please tick one)</p>
            <div class="checkbox">
                <label for="dem-marital-single">
                    <input required type="radio" name="dem-marital" value="Single" id="dem-marital-single"> Single
                </label>
            </div>
            <div class="checkbox">
                <label for="dem-marital-married">
                    <input required type="radio" name="dem-marital" value="Married or cohabiting" id="dem-marital-married"> Married or cohabiting
                </label>
            </div>
            <div class="checkbox">
                <label for="dem-marital-separated">
                    <input required type="radio" name="dem-marital" value="Separated / Divorced" id="dem-marital-separated"> Separated / Divorced
                </label>
            </div>
            <div class="checkbox">
                <label for="dem-marital-widowed">
                    <input required type="radio" name="dem-marital" value="Widowed" id="dem-marital-widowed"> Widowed
                </label>
            </div>
        </div>

        <div class="form-group">
            <p>
                <strong>If single, separated, divorced or widowed, 
                    are you currently in a long term relationship?</strong>
                (please tick one)
            </p>
            <div class="checkbox">
                <label for="dem-relationship-yes"><input required type="radio" name="dem-relationship" id="dem-relationship-yes" value="Yes"> Yes</label>
            </div>
            <div class="checkbox">
                <label for="dem-relationship-no"><input required type="radio" name="dem-relationship" id="dem-relationship-no" value="No"> No</label>
            </div>
        </div>

        <div class="form-group">
            <p><strong>Current Employment:</strong> (please tick one)</p>
            <div class="checkbox">
                <label for="dem-employed-unemployed"><input required type="radio" name="dem-employed" id="dem-employed-unemployed" value="Unemployed"> Unemployed</label>
            </div>
            <div class="checkbox">
                <label for="dem-employed-employed"><input required type="radio" name="dem-employed" id="dem-employed-employed" value="Employed or Self-employed"> Employed or Self-employed</label>
            </div>
            <div class="checkbox">
                <label for="dem-employed-student"><input required type="radio" name="dem-employed" id="dem-employed-student" value="Student (Full-time)"> Student (Full-time)</label>
            </div>
            <div class="checkbox">
                <label for="dem-employed-leave"><input required type="radio" name="dem-employed" id="dem-employed-leave" value="Long-term sick leave"> Long-term sick leave</label>
            </div>
            <div class="checkbox">
                <label for="dem-employed-retired"><input required type="radio" name="dem-employed" id="dem-employed-retired" value="Retired"> Retired</label>
            </div>
            <div class="checkbox">
                <label for="dem-employed-homemaker"><input required type="radio" name="dem-employed" id="dem-employed-homemaker" value="Homemaker"> Homemaker</label>
            </div>
        </div>

        <div class="form-group">
            <p>
                <strong>Occupation:</strong>
                What is your current or last (if not currently working) occupation?
            </p>
            <input required type="text" name="dem-occupation" placeholder="Occupation">
        </div>

        <div class="form-group">
            <p>
                <strong>Education:</strong>
                What is the highest qualification you have obtained (please tick one)?
            </p>
            <div class="checkbox">
                <label for="dem-education-cse"><input required type="radio" name="dem-education" id="dem-education-cse" value="GCSE, CSE or O level"> GCSE, CSE or O level</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-2"><input required type="radio" name="dem-education" id="dem-education-2" value="National Vocational Qualification (NVQ)"> National Vocational Qualification (NVQ)</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-3"><input required type="radio" name="dem-education" id="dem-education-3" value="A level"> A level</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-4"><input required type="radio" name="dem-education" id="dem-education-4" value="Other higher education qualification (e.g. diploma)"> Other higher education qualification (e.g. diploma)</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-5"><input required type="radio" name="dem-education" id="dem-education-5" value="University degree"> University degree</label>
            </div>
            <div class="checkbox">
                <label for="dem-education-6"><input required type="radio" name="dem-education" id="dem-education-6" value="Post graduate qualification (e.g. Masters, PhD)"> Post graduate qualification (e.g. Masters, PhD)</label>
            </div>
        </div>

        <div class="form-group">
            <p>
                <strong>Ethnic origin:</strong>
                (please tick one)
            </p>
            <div class="checkbox">
                <label for="dem-ethnic-1"><input required type="radio" name="dem-ethnic" id="dem-ethnic-1" value="White"> White</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-2"><input required type="radio" name="dem-ethnic" id="dem-ethnic-2" value="Mixed"> Mixed</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-3"><input required type="radio" name="dem-ethnic" id="dem-ethnic-3" value="British"> British</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-4"><input required type="radio" name="dem-ethnic" id="dem-ethnic-4" value="Black or Black British"> Black or Black British</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-5"><input required type="radio" name="dem-ethnic" id="dem-ethnic-5" value="Chinese or Chinese"> Chinese or Chinese</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-6"><input required type="radio" name="dem-ethnic" id="dem-ethnic-6" value="Asian or Asian British"> Asian or Asian British</label>
            </div>
            <div class="checkbox">
                <label for="dem-ethnic-7"><input required type="radio" name="dem-ethnic" id="dem-ethnic-7" value="Any other ethnic group (please specify)"> Any other ethnic group (please specify)</label>
            </div>
            <input required type="text" placeholder="Other ethnic group">
        </div>

        <div class="form-group">
            <p><strong>Please specify below what your first spoken language is</strong></p>
            <input required type="text" placeholder="first spoken language" name="dem-lang">
        </div>

        <div class="form-group">
            <p><strong>What is your total household income (per year)?</strong></p>
            <input required type="text" placeholder="total household income">
        </div>
        <input type="submit">
    </form>
</div>