<div id="ocir-container">
    <h1>OCI-R</h1>
    <p>The following statements refer to experiences that many people have in
        their everyday lives. Circle
        the number that best describes <strong>HOW MUCH</strong> that experience
        has <strong>DISTRESSED</strong>
        or <strong>BOTHERED</strong> you
        during the <strong>PAST MONTH</strong>. The numbers refer to the
        following verbal labels:</p>
    <!-- <div class="row text-center">
        <div class="col-md-2 col-md-offset-1">0<br>Not at all</div>
        <div class="col-md-2">1<br>A little</div>
        <div class="col-md-2">2<br>Moderately</div>
        <div class="col-md-2">3<br>A lot</div>
        <div class="col-md-2">4<br>Extremely</div>
    </div>

    <form action="">

    </form> -->

    <table class="table table-bordered">
        <thead>
            <th class="text-center">0<br>Not at all</th>
            <th class="text-center">1<br>A little</th>
            <th class="text-center">2<br>Moderately</th>
            <th class="text-center">3<br>A lot</th>
            <th class="text-center">4<br>Extremely</th>
        </thead>
    </table>
    
    <form action="">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>1</td>
            <td>I have saved up so many things that they get in the way.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir1" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir1" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir1" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir1" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir1" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>2</td>
            <td>I check things more often than necessary.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir2" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir2" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir2" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir2" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir2" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>3</td>
            <td>I get upset if objects are not arranged properly.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir3" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir3" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir3" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir3" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir3" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>4</td>
            <td>I feel compelled to count while I am doing things.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir4" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir4" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir4" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir4" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir4" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>5</td>
            <td>I find it difficult to touch an object when I know it has been touched by
              strangers or certain people.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir5" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir5" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir5" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir5" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir5" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>6</td>
            <td>I find it difficult to control my own thoughts.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir6" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir6" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir6" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir6" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir6" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>7</td>
            <td>I collect things I don’t need.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir7" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir7" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir7" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir7" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir7" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>8</td>
            <td>I repeatedly check doors, windows, drawers, etc.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir8" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir8" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir8" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir8" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir8" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>9</td>
            <td>I get upset if others change the way I have arranged things.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir9" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir9" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir9" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir9" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir9" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>10</td>
            <td>I feel I have to repeat certain numbers.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir10" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir10" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir10" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir10" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir10" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>11</td>
            <td>I sometimes have to wash or clean myself simply because I feel
              contaminated.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir11" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir11" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir11" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir11" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir11" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>12</td>
            <td>I am upset by unpleasant thoughts that come into my mind against my will.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir12" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir12" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir12" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir12" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir12" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>13</td>
            <td>I avoid throwing things away because I am afraid I might need them later.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir13" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir13" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir13" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir13" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir13" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>14</td>
            <td>I repeatedly check gas and water taps and light switches after turning them
              off.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir14" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir14" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir14" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir14" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir14" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>15</td>
            <td>I need things to be arranged in a particular way.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir15" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir15" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir15" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir15" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir15" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>16</td>
            <td>I feel that there are good and bad numbers.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir16" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir16" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir16" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir16" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir16" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>17</td>
            <td>I wash my hands more often and longer than necessary.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir17" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir17" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir17" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir17" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir17" value="0">4
              </label>
            </td>
          </tr>
    
          <tr>
            <td>18</td>
            <td>I frequently get nasty thoughts and have difficulty in getting rid of them.</td>
            <td>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir18" value="0">0
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir18" value="0">1
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir18" value="0">2
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir18" value="0">3
              </label>
              <label class="checkbox-inline">
                <input type="radio" required name="ocir18" value="0">4
              </label>
            </td>
          </tr>
    
        </tbody>
      </table>
    </form>
</div>