<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <link rel="icon" href="/static/favicon.ico" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
		<style>
			@media print {
				body * {
					visibility: hidden;
				}
				.legal, .legal * {
					visibility: visible;
				}
				.legal {
					position: absolute;
					left: 0;
					top: 0;
					overflow:visible;
				} 
			}
		</style>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed</h1>
                <hr />
                <div class="legal well">
                    <h2>Consent to Participate in a Research Study
                        <br>
                        ADULT</h2>

                    <h3>OBSESSIVE-COMPULSIVE SYMPTOMS</h3>
                    <p>CONCISE SUMMARY</p>
                    <p>The purpose of this study is to investigate the
                        relation between obsessive-compulsive symptoms
                        and two psychological tasks.</p>
                    <p>The duration of the study will be about 40
                        minutes and there is minimal risk associated
                        with participation.</p>

                    <p>To take part in this study you must be a healthy
                        adult between the ages
                        of 18 and 60. Research studies are voluntary and
                        include only people who choose to take part.</p>
                    <p>Please read this consent form carefully and take
                        your time making your decision. As you review
                        this document, please feel free to contact the
                        researchers and ask them to explain any words or
                        information that you do not clearly understand.</p>
                    <h3>WHY IS THIS STUDY BEING DONE?</h3>
                    <p>The purpose of this study is to investigate the
                        relation between obsessive-compulsive
                        symptoms (including intolerance of uncertainty),
                        as measured by three questionnaires, and two
                        psychological tasks designed to evaluate
                        performance monitoring and decision making.</p>
                    <h3>HOW MANY PEOPLE WILL TAKE PART IN THIS STUDY?</h3>
                    <p>Approximately 200 people will take part in this
                        online study.</p>

                    <h3>WHAT IS INVOLVED IN THE STUDY?</h3>
                    <p>If you agree to participate, you will answer a number of questions about demographic data and obsessive-compulsive symptoms. This must take around 10 minutes. Then you will respond two psychological tasks. Each one of them shall take around 15 minutes. The order in which the questionnaires and tasks are presented may vary between participants.</p>

                    <h3>WHAT ARE THE RISKS OF THE STUDY?</h3>
                    <p>There are no physical risks associated with this
                        study.</p>
                    <p>There is a chance you might feel bothered or
                        uncomfortable by some of the questions or tasks.
                        These emotions are unlikely to be stronger than
                        those you would naturally experience in real
                        life, however you may contact the researcher if
                        you are experiencing very uncomfortable emotions
                        or feeling unwell.</p>

                    <h3>ARE THERE BENEFITS TO TAKING PART IN THE STUDY?</h3>
                    <p>If you agree to take part in this study, there is
                        no medical benefit to you. You might have
                        insights about the way you think and behave. And
                        you surely will be helping us to better
                        understand some symptoms of OCD and further help
                        people with this disorder.</p>

                    <h3>WILL MY INFORMATION BE KEPT CONFIDENTIAL?</h3>
                    <p>The study results will be retained in your
                        research record for at least five years after
                        the study is completed. While the information
                        and data resulting from this study may be
                        presented at scientific meetings or published in
                        a scientific journal, no personal information
                        will be revealed.</p>

                    <h3>COMPENSATION</h3>
                    <p>If you complete the survey, you will be paid the amount of money described in the research ad, according to Amazon Mechanical Turk rules.</p>

                    <h3>WHAT ABOUT MY RIGHTS TO DECLINE PARTICIPATION OR
                        WITHDRAW FROM THE STUDY?</h3>
                    <p>You may choose not to be in the study, or, if you
                        agree to be in the study, you may withdraw from
                        the study at any time. If you withdraw from the
                        study, no new data about you will be collected
                        for study purposes other than data needed to
                        keep track of your withdrawal.</p>

                    <h3>WHOM DO I CALL IF I HAVE QUESTIONS OR PROBLEMS?</h3>
                    <p>For questions about the study contact Gerson
                        Siegmund at siegmund.gerson@gmail.com</p>
                    <p>Institutional Address:</p>
                    <p>Universidade Federal do Rio Grande do Sul</p>
                    <p>Instituto de Psicologia</p>
                    <p>Rua Ramiro Barcelos, 2600, 2º andar, sala 227
                        (antiga 121)</p>
                    <p>Porto Alegre - RS, Brasil</p>
                    <p>CEP 90035-003</p>
                    <p>Phone: (51) 3308 5341</p>

                    <h3>STATEMENT OF CONSENT</h3>
                    <p>"The purpose of this study, procedures to be
                        followed, risks and benefits have been explained
                        to me. I have been allowed to ask questions, and
                        my questions have been answered to my
                        satisfaction. I have been told whom to contact
                        if I have questions, to discuss problems,
                        concerns, or suggestions related to the
                        research, or to obtain information about the
                        research. I have read this consent form and
                        agree to be in this study, with the
                        understanding that I may withdraw at any time.”</p>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr />
                <h4>Do you understand and consent to these terms?</h4>
                <br />

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

