<!DOCTYPE html>
<thead>
	<style>
		table {
			border-collapse: collapse;
		}
		td {
			border: 1px solid black;
			padding: 4px;
		}
	</style>
</thead>
<tbody>

	
	<h1>Here are all your users in the database</h1>
	
	<table>
		<thead>
			<th>Unique ID</th>
			<th>Worker ID</th>
			<th>Begin HIT Time</th>
			<th>End HIT Time</th>
		</thead>
	{% for person in participants: %}
		<tr>
			<td>
					<a href="/view_data_worker/{{ person.uniqueid }}">{{ person.uniqueid }}</a>
			</td>
			<td>
					{{ person.workerid }}
			</td>
			<td>
					{{ person.beginhit }}
			</td>
			<td>
				{{ person.endhit }}
			</td>
		</tr>
	{% endfor %}
	</table>
</tbody>